@model projekt_indywidualny_etap_3.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSlots)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
