@model projekt_indywidualny_etap_3.Models.EventModel

@{
    ViewBag.Title = "Event Details";
}


<h2>@Html.DisplayFor(model => model.Title)</h2>
<div class="mb-1 text-muted">@Model.StartTime.ToShortDateString(), @Html.DisplayFor(model => model.Location)</div>
<p>Organized by @Html.DisplayFor(model => model.OrganizedBy)</p>
<p></p>
<div class="row">
    <div class="col-md-8">
        <img src="~/Content/img/default-details-image.jpg" alt="default-details-image" class="img-rounded img-detail-page">
    </div>
    <div class="col-md-4 event-details-flex-container jumbotron">
        <div class="event-details-flex-container-row">
            <strong class="event-category-text event-details-item">@Html.DisplayFor(model => model.EventCategory.Name)</strong>
        </div>
        <div class="event-details-flex-container-row">
            <div class="event-details-flex-container-col">
                <p class="event-details-text-large event-details-item"><span class="glyphicon glyphicon-time"></span> @Model.StartTime.ToLongDateString()</p>
                <p class="event-details-text-medium event-details-item">@Model.StartTime.ToShortTimeString() - @Model.EndTime.ToShortTimeString()</p>
            </div>
        </div>
        <div class="event-details-flex-container-row">
                <p class="event-details-text-large event-details-item"><span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(model => model.Location)</p>
        </div>
        <div class="event-details-flex-container-row">
            <div class="event-details-flex-container-col">
                <p class="event-details-text-medium event-details-item">Places available: @Html.DisplayFor(model => model.AvailableSlots)</p>
                <button class="btn btn-events btn-lg">Attend</button>
            </div>
        </div>
        </div>
    </div>
<br />
<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Back to Events", "Index")
</p>
