@model IEnumerable<projekt_indywidualny_etap_3.Models.EventModel>

@{
    ViewBag.Title = "Events Search";
}

<h2>Events Search</h2>
@using (Html.BeginForm())
{
    <!-- Search Box -->
    <div class="form-group">
        <label for="SearchString">Title</label>
        @Html.TextBox("SearchString", "", htmlAttributes: new { @class = "form-control" })
    </div>
    <!-- Filters -->
    <div class="form-group form-inline">
        <!-- Event Category -->
        <label for="eventCategoryFilter">Type</label>
        <select name="eventCategoryFilter" id="eventCategoryFilter" class="form-control">
            <option value="">Select a category</option>
            @foreach (var category in ViewBag.EventCategoriesList)
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>
        <!-- Event Location -->
        <label for="locationFilter">Location</label>
        <select name="locationFilter" id="locationFilter" class="form-control">
            <option value="">Select a location</option>
            @foreach (var location in ViewBag.LocationsList)
            {
                <option value="@location">@location</option>
            }
        </select>
        <!-- Event Date -->
        <label for="dateFilter">Date</label>
        <input name="dateFilter" id="dateFilter" type="date" class="form-control" />
        <!-- Submit -->
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}
<!-- Events found -->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-lg-4">
            <strong class="event-category-text">@Html.DisplayFor(modelItem => item.EventCategory.Name)</strong>
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <div class="mb-1 text-muted">@item.StartTime.ToShortDateString(), @Html.DisplayFor(modelItem => item.Location)</div>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p>@Html.ActionLink("Details", "Details", new { id = item.Id })</p>
        </div>
    }
</div>



